
span.bg-primary {
  background-color: var(--color-primary);
  display: inline-block;
  color: #fff;
  font-weight: bold;
  padding: 7px 20px;
  font-size: 18px;
}

.sidebar-list-group {
  & li {
    margin-bottom: 10px;
  }

  & a {

    color: #969696;

    &:hover {
      color: var(--color-secondary);
    }
  }

  & a.list-group-item {
    padding: 11px 5px;
  }
}

.sidebar-title {
  background-color: #efefef;
  padding: 10px;
  margin-bottom: 20px;

  & span {
    color: var(--color-primary);
    text-transform: uppercase;
    font-weight: bold;
  }
}

.category-item {
  padding: 10px 5px 10px 10px;
  margin-bottom: 3px;
  color: #ffb400;
  font-weight: bold;
}

.main-content-frame {
  height: 100%;
  padding-bottom: 30px;
}

.sticky-img-frame {
  width: 100%;
  height: auto;
  box-shadow: -2px 2px 10px #999;
}

.post-content {
  & p {
    font-size: 18px;
    line-height: 1.5;
  }
}

.post-thumb {
  & img {
    padding: 5px;
  }
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  background-color: var(--color-primary);
  border-color: var(--color-secondary);
}

.pagination>li>a,
.pagination>li>span {
  padding: 8px 15px;
  margin-left: 5px;
}


/* contacts */

label {
  margin-top: 10px;
}

.location-frame {
  & img {

    margin-bottom: 10px;
  }
}

.map-info {
  background-color: var(--color-secondary);
  margin-bottom: 0;

  & span {

    display: inline-block;
    color: #fff;
    font-weight: bold;
    padding: 7px 20px;
    font-size: 16px;
  }
}

.form-control:focus {
  border-color: var(--color-secondary);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 180, 0, 0.6);
}

textarea.form-control {
  line-height: 22px;
}
