/* imports */

@import "_variables.css";
@import "_fonts";
@import "insidepages.css";



/* global */

html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #666666;
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

body>header {
  width: 100%;
  background: #fffef4;
  letter-spacing: 1px;
  z-index: 1;
}

a {
  color: var(--color-primary);
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

a:hover,
a:focus,
a:active {
  color: #f7a900;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
}

h3 {
  margin-top: 5px;
}

img {
  width: 100%;
}

hr.rule {
  border-top: 4px solid var(--color-secondary);
  width: 60px;
  margin-bottom: 60px;
}

#main-content {
  margin-top: 20px;

  @media (min-width: 768px) {

    margin-top: 15px;
  }
}


/* navigation */

.navbar {
  margin-bottom: 0;
  border: none;
}

.navbar-brand {
  display: none;
  float: none;
  height: auto;
  padding: 10px 10px 0 10px;
  font-size: 18px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .navbar-brand {
    display: block;
    float: left;
    padding: 10px 10px;
  }
}

.navbar-brand img {
  width: 100%;
  max-width: 60px;
  margin: 0 auto;
  display: block;
}

@media (min-width: 768px) {
  .navbar-brand img {
    max-width: 75px;
  }
}

.navbar-name {
  padding: 0 10px 10px 10px;
}

.navbar-name img {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
  padding-top: 0;
  padding-right: 45px;
}

@media (min-width: 768px) {
  .navbar-name img {
    float: left;
    padding-top: 20px;
    padding-right: 0;
  }
}

.navbar-tel {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0 5px 0;
  background-color: var(--color-primary);
}

.navbar-tel a {
  color: #fff;
}

.navbar-tel a:hover,
.navbar-tel a:focus,
.navbar-tel a:active {
  color: #f7a900;
}

.nav-tel-set {
  margin: 0 auto;
}

span.tel-icon:before {
  content: "\f098";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  padding-right: 5px;
}

span.email-icon:before {
  content: "\f199";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  padding-right: 5px;
}

@media (min-width: 768px) {
  .navbar-tel {
    background-color: transparent;
  }

  .navbar-tel a {
    color: var(--color-primary);
  }

  span.tel-icon:before,
  span.email-icon:before {
    color: var(--color-primary);
  }
}

.navbar-tel p {
  margin: 0 0 5px;
}

.navbar-toggle {
  position: absolute;
  top: 0;
  right: 0;
}

.navigation-col {
  background-color: #fff;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-nav li {
  border-top: 1px solid #ccc;
}

.navbar-toggle {
  background: var(--color-primary);
}


@media screen and (min-width: 768px) {

  .navbar-nav li {
    border: none;
  }

  .navigation-menu {
    background-color: var(--color-primary);
    border-bottom: 4px solid var(--color-secondary);
  }

  .navbar-nav>li>a {
    color: #fff;
    padding: 15px 25px;
  }


  .navbar-nav li:last-child a {
    border-right: 0 none;
  }

  li.active a {
    color: #feb500;
  }
}

.nav>li>a:hover,
.nav>li>a:focus,
.nav>li>a:active,
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.dropdown-menu {

  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  border-radius: 4px;
  box-shadow: none;
}

.dropdown-menu>li>a {
  color: var(--color-primary);
  padding: 15px 25px;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  color: #fff;
  text-decoration: none;
  background-color: color(var(--color-secondary) blackness(10%));
}



/* hero slider */

.slider img {
  width: 100%;
}

.slider {
  margin-bottom: 20px;
}



/* main content */

.featured {
  padding: 0;
  overflow: hidden;
  margin-bottom: 25px;
  min-height: 225px;
  background-color: #000;

  & p {
    margin-bottom: 0;
  }

  & a {
    color: #ffe199;

    &:hover {
      color: var(--color-secondary);
    }
  }
}

.featured img {
  width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.featured img:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.featured h2 {
  font-size: 36px;
}

.info {
  margin-bottom: 25px;

  & .caption {
    width: 91%;

    @media (min-width: 375px) {
      width: 92%;
    }

    @media (min-width: 425px) {
      width: 93%;
    }

    @media (min-width: 768px) {
      width: 533px;
    }

    @media (min-width: 1024px) {
      width: 333px;
    }

    @media (min-width: 1200px) {
      width: 409px;
    }
  }
}

.caption {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #fff;
  padding: 15px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.72) 46%, rgba(0, 0, 0, 0.72) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.72) 46%, rgba(0, 0, 0, 0.72) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.72) 46%, rgba(0, 0, 0, 0.72) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b8000000', GradientType=0);
  /* IE6-9 */
  & h3 {
    font-size: 20px;
    margin: 20px 0;

    @media (min-width: 768px) {
      font-size: 22px;
    }

    @media (min-width: 1024px) {
      font-size: 18px;
    }

    @media (min-width: 1200px) {
      font-size: 22px;
    }
  }
}

.zoom-bg {

  overflow: hidden;
}

.zoom-bg img {
  width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.zoom-bg img:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.info-title {
  background-color: #efefef;
  margin-bottom: 20px;
}

.info-title:after {
  content: url("../img/1.png");
  background-size: contain;
  position: absolute;
}

span.red-bg {
  background-color: var(--color-primary);
  display: inline-block;
  color: #fff;
  font-weight: bold;
  padding: 7px 20px;
  font-size: 18px;
}

hr.yellow-line {
  width: 40px;
  position: absolute;
  border-top: 7px solid #feb402;
  top: 6px;
}

.text-primary {
  color: var(--color-primary);
}



/* home aside */

.quick-access a {
  text-align: right;
  color: #d07b02;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.quick-access a:hover,
.quick-access a:focus {
  text-decoration: none;
  background-color: transparent;
  color: var(--color-primary);
}

.quick-access a:after {
  display: block;
  content: '';
  border-bottom: solid 2px var(--color-primary);
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: transform 261ms ease-in-out;
  padding-bottom: 10px;
}

.quick-access a:hover:after {
  transform: scaleX(1);
}

.list-label {
  text-align: right;
  color: #bdaeae;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  background: #f0ecec;
  padding: 5px 15px 5px 5px;
  font-size: 10px;
  letter-spacing: 1px;
}

.list-group {
  margin-bottom: 2px;
}

.list-group-item {
  padding: 11px 5px 0;
  border: none;
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 0;
}

.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


/* feeds section */

.category-link {
  position: absolute;
  bottom: 0;
  left: 30px;
  padding-bottom: 9px;

  & a {
    color: #ffe199;

    &:hover {
      color: var(--color-secondary);
    }
  }
}


/* about */

#about-summary h4 {
  font-weight: normal;
  font-size: 30px;
}

#about-summary {
  background-image: url(../img/parallax.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center 0;
  background-attachment: fixed;
  color: #fff;
}

#about-summary:before {
  content: "";
  background-color: rgba(26, 1, 1, 0.81);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

#about-summary .container {
  position: relative;
}

.head-title {
  font-size: 38px;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}

.profile {
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid;
  max-width: 260px;
  margin: 0 auto 40px;
}

.profile img {
  display: block;
}

blockquote {
  font-style: italic;
  border-left: none;
  padding-left: 55px;
}

blockquote p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}


blockquote:before {
  font-family: "Georgia", serif;
  color: rgba(255, 255, 255, 0.38);
  content: "\201C";
  font-size: 8em;
  position: absolute;
  left: 0;
  top: -30px;
}

blockquote footer {
  text-align: right;
}

.sec-mission,
.sec-vision {
  line-height: 1.5;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

@media (min-width: 768px) {

  .sec-vision {
    text-align: right;
  }

  .sec-mission {
    text-align: left;
  }
}

.lead-text {
  text-align: center;
  margin: 50px 0;

  & a {
    color: #fff;

    &:hover {
      color: var(--color-secondary);
    }
  }
}


/* buttons */

.btn-primary {
  color: #fff;
  background-color: var(--color-primary);
  border-color: #d43f3a;
  padding: 10px 12px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #f7a900;
  border-color: #f7a900;
}


/* footer */

.site-footer {
  padding-top: 50px;
}

.contact-icon {
  display: table-cell;
  vertical-align: top;
}

.icon-top-pos {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

span.loc-icon:before {
  content: "\f041";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  padding-right: 5px;
}

span.phone-icon:before {
  content: "\f10b";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  padding-right: 5px;
}

span.mail-icon:before {
  content: "\f003";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  padding-right: 0px;
}

.contact-text {
  display: table-cell;
  vertical-align: top;
  padding: 2px 0 0 10px;
}

.contact-info {
  padding-bottom: 30px;
  font-size: 16px;

  & h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--color-primary);
  }
}


span.facebook-icon::before {
  content: "\f09a";
  font-family: FontAwesome;
  font-size: 20px;
  line-height: 1.8;
  margin: 3px 3px 0 0;
  color: #ffffff;
  background-color: var(--color-primary);
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
}

span.twitter-icon::before {
  content: "\f099";
  font-family: FontAwesome;
  font-size: 20px;
  line-height: 1.8;
  margin: 3px 3px 0 0;
  color: #ffffff;
  background-color: var(--color-primary);
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
}

.copyright {
  text-align: center;
  background-color: var(--color-primary);
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.read-more {
  padding-bottom: 30px;
  text-align: right;
}

span.about-year {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-primary);
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%;
    /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */
  }
}

.sec-copy {
  background-color: var(--color-primary);
  color: #fff;
  margin-top: 30px;
  padding: 20px 0 10px;
}


/* return to top */

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(128, 0, 0);
  background: rgba(128, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(128, 0, 0);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
