<footer class="site-footer">
  <!-- Return to Top -->
  <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
  <div class="container">
    <div class="footer-wrap">
      <div class="container footer">
        <div class="row">
          <div class="col-sm-4 contact-info">
            <h2>Find Us</h2>
            <div class="contact-detail">
              <div class="contact-icon">
                <span class="loc-icon icon-top-pos"></span>
              </div>
              <div class="contact-text">
                <p>East Rodriguez Avenue,
                  <br/> Barangay San Isidro,
                  <br/> Taytay, Rizal</p>
              </div>
            </div>
            <div class="contact-detail">
              <div class="contact-icon">
                <span class="phone-icon icon-top-pos"></span>
              </div>
              <div class="contact-text">
                <p><a href="tel:(02)658-8765">(02)658-8765</a></p>
              </div>
            </div>
            <div class="contact-detail">
              <div class="contact-icon">
                <span class="phone-icon icon-top-pos"></span>
              </div>
              <div class="contact-text">
                <p><a href="tel:(02)660-4761">(02)660-4761</a></p>
              </div>
            </div>
            <div class="contact-detail">
              <div class="contact-icon">
                <span class="mail-icon icon-top-pos"></span>
              </div>
              <div class="contact-text">
                <p><a href="mailto:nfo@sct.edu.ph">info@sct.edu.ph</a></p>
              </div>
            </div>
            <div class="action-social">
              <a href="https://www.facebook.com/sienans" target="_blank"><span class="facebook-icon"></span>  </a>
              <a href="https://twitter.com/iamsienan" target="_blank"><span class="twitter-icon"></span>  </a>
            </div>
          </div>
          <div class="col-sm-8">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.400074476114!2d121.13070181484004!3d14.576264489817966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc6b7584c026b9873!2sSiena+College+of+Taytay!5e0!3m2!1sen!2sph!4v1506485279740" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sec-copy">
    <p class="text-center">&copy; Copyright 2017 - Siena College of Taytay</p>
  </div>
</footer>
