<header>
    <div class="navbar" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-sm-2 col-md-1 navbar-brand">
              <a href="#"><img src="../assets/img/logo-siena-college.png" alt="Siena College"></a>
            </div>
            <div class="col-sm-6 col-md-7 col-lg-8 navbar-name">
              <a href="#"><img src="../assets/img/sct-name.png" alt="Siena College"></a>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2 navbar-tel">
              <div class="col-lg-12 nav-tel-set">
                <div class="contact-icon">
                  <span class="tel-icon icon-top-pos"></span>
                </div>
                <div class="contact-text">
                  <p><a href="tel:(02)658-8765">(02)658-8765</a>
                    <br> <a href="tel:(02)660-4761">(02)660-4761</a>
                  </p>
                </div>
              </div>
              <div class="col-lg-12 nav-tel-set">
                <div class="contact-icon">
                  <span class="email-icon icon-top-pos"></span>
                </div>
                <div class="contact-text">
                  <p><a href="mailto:nfo@sct.edu.ph">info@sct.edu.ph</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- /.nav-collapse -->
      </div>
      <div class="navigation-menu">
        <div class="container">
          <div class="row">
            <div class="collapse navbar-collapse nav-menu">
              <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="#about-summary">About Us</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Siena Offers<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Academic Programs</a></li>
                    <li><a href="#">Facilities</a></li>
                    <li><a href="#">Admission</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Siena Cares<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">CCFDS</a></li>
                    <li><a href="#">How to donate</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Siena Honors<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Students</a></li>
                    <li><a href="#">Alumni</a></li>
                    <li><a href="#">Faculties</a></li>
                    <li><a href="#">Donors</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="bulletin.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bulletin Board<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="bulletin.html">Announcement</a></li>
                    <li><a href="bulletin-news.html">News</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Research</a></li>
                  </ul>
                </li>
                <li><a href="contacts.html">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.navbar -->
  </header>
