{{#extend "layouts/base"}}

{{#content "main"}}
<section id="main-content">
  <div class="container">
    <div class="row">
      <!-- aside nav -->
      <div class="col-xs-12 col-sm-3 pull-right hidden-xs" id="sidebar" role="navigation">
        <div class="sidebar-list-group">
          <div class="sidebar-title">
            <span>More on News!</span>
          </div>
          <p class="category-item">January 2018</p>
          <ul>
            <li class="active"><a href="bulletin-news-post.html">Accepting Applicants For The Following Openings...</a></li>
            <li><a href="#">Has omnis utamur an. Ad torquatos adipiscing pro, te fuisset quaestio corrumpit sea...</a></li>
            <li><a href="#">In vim dolor perpetua posidonium, cibo propriae scaevola vix te...</a></li>
          </ul>
          <hr>
          <p class="category-item">December 2017</p>
          <ul>
            <li><a href="#">Probo pericula sed ei. Nam animal scribentur...</a></li>
            <li><a href="#">Ad torquatos adipiscing pro, te fuisset quaestio corrumpit sea...</a></li>
            <li><a href="#">Eu nam vero dicta, erant assueverit est et. Et sint aeque delicata qui, has an tibique officiis...</a></li>
            <li><a href="#">Stet semper nominavi nam at...</a></li>
            <li><a href="#">Eos ne summo pertinax assueverit, vel tibique partiendo id...</a></li>
            <li><a href="#">In vim dolor perpetua posidonium, cibo propriae scaevola vix te...</a></li>
          </ul>
          <hr>
          <p class="category-item">November 2017</p>
          <ul>
            <li><a href="#">Quo eruditi legimus ea, praesent scribentur no vim.</a></li>
            <li><a href="#">Has omnis utamur an. Ad torquatos adipiscing pro, te fuisset quaestio corrumpit sea...</a></li>
            <li><a href="#">Eos ne summo pertinax assueverit, vel tibique partiendo id...</a></li>
            <li><a href="#">In vim dolor perpetua posidonium, cibo propriae scaevola vix te...</a></li>
            <li><a href="#">Hibo propriae scaevola vix te...</a></li>
          </ul>
          <hr>
          <p class="category-item">October 2017</p>
          <ul>
            <li><a href="#">Arant assueverit est et. Et sint aeque delicata qui, has an tibique officiis...</a></li>
            <li><a href="#">Has omnis utamur an. Ad torquatos adipiscing pro, te fuisset quaestio corrumpit sea...</a></li>
            <li><a href="#">Probo pericula sed ei. Nam animal scribentur...</a></li>
            <li><a href="#">Has omnis utamur an. Ad torquatos adipiscing pro, te fuisset quaestio...</a></li>
          </ul>
          <hr>
        </div>
      </div>
      <!--  <p class="pull-left visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Quick Links</button>
        </p> -->
      <!--/ aside nav -->
      <!-- featured contents -->
      <div class="main-content-frame col-xs-12 col-sm-9">
        <div class="info-title">
          <span class="red-bg">News Details</span>
        </div>
        <div class="post-content">
          <h1>Siena College Of Taytay Is Now Accepting Applicants For The Following Openings For SY 2017-2018</h1>
          <span>Posted By: <a href="#">Admin</a> on January 5, 2018
          <br>Category: <a href="#">News</a></span>
          <hr>
          <p>Eum ne cibo porro nostrum. Eu nam vero dicta, erant assueverit est et. Et sint aeque delicata qui, has an tibique officiis, cu has dolore impedit. Stet semper nominavi nam at. Aperiam nostrum atomorum no pri. Eam ut nibh vivendo. Ne tota evertitur interpretaris est, detraxit quaestio inciderint cu vim, at qui meis semper.</p>
          <img src="assets/img/posts/1-gs-and-jhs-page-001.jpg" alt="">
          <hr>
        </div>
      </div>
      <!--/ featured contents -->
    </div>
    <!--/ row -->
  </div>
  <!--/ container -->
</section>
{{/content}}

{{/extend}}
