{{#extend "layouts/base"}}

{{#content "main"}}
<section id="main-content">
  <div class="container">
    <div class="row">
      <!-- aside nav -->
      <div class="col-xs-12 col-sm-3 pull-right" id="sidebar" role="navigation">
        <div class="aside-ads">
          <a href="http://www.sct.edu.ph/wp-content/uploads/2016/06/60th-logo-explained.pdf" target="_blank">
            <img src="assets/img/posts/60th-tmb.jpg" at="">
          </a>
        </div>
        <hr>
        <div class="sidebar-list-group">
          <div class="sidebar-title">
            <span>Categories</span>
          </div>
          <a href="#" class="list-group-item">Announcements</a>
          <a href="bulletin-news.html" class="list-group-item">News</a>
          <a href="#" class="list-group-item">Events</a>
          <a href="#" class="list-group-item">Research</a>
        </div>
      </div>
      <!--  <p class="pull-left visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Quick Links</button>
        </p> -->
      <!--/ aside nav -->
      <!-- featured contents -->
      <div class="main-content-frame col-xs-12 col-sm-9">
        <div class="sticky-img-frame">
          <a href="#">
            <img src="assets/img/posts/passers.jpg" title="Go to this post">
          </a>
        </div>
        <hr>
        <div class="post-content">
          <div class="row">
            <div class="post-thumb col-md-4">
              <a href="#">
              <img src="assets/img/posts/img-2-tmb.jpg" title="Go to this post">
            </div>
            <div class="col-md-8">
              <h3>27th Family Rosary Crusade</h3></a>
              <span>Posted By: <a href="#">Admin</a> on September 20, 2017
                <br>Category: <a href="#">Announcements</a></span>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu&hellip;</p>
              <div class="archive-link text-right">
                <a class="btn btn-primary" href="#" role="button">View all »</a>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="post-thumb col-md-4">
              <a href="bulletin-news-post.html">
                <img src="assets/img/posts/img-1-tmb.jpg" title="Go to this post">
            </div>
            <div class="col-md-8">
              <h3>Siena College Of Taytay Is Now Accepting Applicants</h3></a>
              <span>Posted By: <a href="#">Admin</a> on January 5, 2018
              <br>Category: <a href="bulletin-news.html">News</a></span>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu&hellip;</p>
              <div class="archive-link text-right">
                <a class="btn btn-primary" href="bulletin-news.html" role="button">View all »</a>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="post-thumb col-md-4">
              <a href="#">
              <img src="assets/img/posts/mikrotik-tmb.jpg" title="Go to this post">
            </div>
            <div class="col-md-8">
             <h3>Siena Proudly Supports MikroTik Seminars</h3></a>
              <span>Posted By: <a href="#">Admin</a> on December 30, 2017
                <br>Category: <a href="#">Events</a></span>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu&hellip;</p>
              <div class="archive-link text-right">
                <a class="btn btn-primary" href="#" role="button">View all »</a>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="post-thumb col-md-4">
              <a href="#">
              <img src="assets/img/posts/veriti-tmb.jpg" title="Go to this post">
            </div>
            <div class="col-md-8">
             <h3>Siena Launches New Modules for Web Technology</h3></a>
              <span>Posted By: <a href="#">Admin</a> on January 12, 2018
                <br>Category: <a href="#">Research</a></span>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu&hellip;</p>
              <div class="archive-link text-right">
                <a class="btn btn-primary" href="#" role="button">View all »</a>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <!--/ featured contents -->
    </div>
    <!--/ row -->
  </div>
  <!--/ container -->
</section>
{{/content}}

{{/extend}}
