{{#extend "layouts/base"}}

{{#content "main"}}
<section id="main-content">
  <div class="container">
    <div class="row">
      <!-- aside nav -->
      <div class="col-xs-12 col-sm-3 pull-right hidden-xs" id="sidebar" role="navigation">
        <div class="aside-ads">
          <a href="http://www.sct.edu.ph/wp-content/uploads/2016/06/60th-logo-explained.pdf" target="_blank">
            <img src="assets/img/posts/60th-tmb.jpg" at="">
          </a>
        </div>
        <hr>
        <div class="sidebar-list-group">
          <div class="sidebar-title">
            <span>More on News!</span>
          </div>
          <p class="category-item">January 2018</p>
          <ul>
            <li><a href="bulletin-news-post.html">Accepting Applicants For The Following Openings...</a></li>
            <li><a href="#">Has omnis utamur an. Ad torquatos adipiscing pro, te fuisset quaestio corrumpit sea...</a></li>
            <li><a href="#">In vim dolor perpetua posidonium, cibo propriae scaevola vix te...</a></li>
          </ul>
          <hr>
          <p class="category-item">December 2017</p>
          <ul>
            <li><a href="#">Probo pericula sed ei. Nam animal scribentur...</a></li>
            <li><a href="#">Ad torquatos adipiscing pro, te fuisset quaestio corrumpit sea...</a></li>
            <li><a href="#">Eu nam vero dicta, erant assueverit est et. Et sint aeque delicata qui, has an tibique officiis...</a></li>
            <li><a href="#">Stet semper nominavi nam at...</a></li>
            <li><a href="#">Eos ne summo pertinax assueverit, vel tibique partiendo id...</a></li>
            <li><a href="#">In vim dolor perpetua posidonium, cibo propriae scaevola vix te...</a></li>
          </ul>
          <hr>
          <p class="category-item">November 2017</p>
          <ul>
            <li><a href="#">Quo eruditi legimus ea, praesent scribentur no vim.</a></li>
            <li><a href="#">Has omnis utamur an. Ad torquatos adipiscing pro, te fuisset quaestio corrumpit sea...</a></li>
            <li><a href="#">Eos ne summo pertinax assueverit, vel tibique partiendo id...</a></li>
            <li><a href="#">In vim dolor perpetua posidonium, cibo propriae scaevola vix te...</a></li>
            <li><a href="#">Hibo propriae scaevola vix te...</a></li>
          </ul>
          <hr>
          <p class="category-item">October 2017</p>
          <ul>
            <li><a href="#">Arant assueverit est et. Et sint aeque delicata qui, has an tibique officiis...</a></li>
            <li><a href="#">Has omnis utamur an. Ad torquatos adipiscing pro, te fuisset quaestio corrumpit sea...</a></li>
            <li><a href="#">Probo pericula sed ei. Nam animal scribentur...</a></li>
            <li><a href="#">Has omnis utamur an. Ad torquatos adipiscing pro, te fuisset quaestio...</a></li>
          </ul>
          <hr>
        </div>
      </div>
      <!--  <p class="pull-left visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Quick Links</button>
        </p> -->
      <!--/ aside nav -->
      <!-- featured contents -->
      <div class="main-content-frame col-xs-12 col-sm-9">
        <div class="sticky-img-frame">
             <div class="sticky-img-frame">
          <a href="#">
            <img src="assets/img/posts/bts.jpg" title="Go to this post">
          </a>
        </div>
        </div>
        <hr>
        <div class="post-content">
          <div class="row">
            <div class="col-lg-12">
              <div class="info-title">
                <span class="red-bg">Current News</span>
              </div>
            </div>
            <div class="post-thumb col-md-4">
              <img src="assets/img/posts/enroll-2018-tmb.jpg" alt="">
            </div>
            <div class="col-md-8">
              <a href="bulletin-news-post.html"><h3>Siena College Of Taytay Is Now Accepting Applicants</h3></a>
              <span>Posted By: <a href="#">Admin</a> on January 5, 2018</span>
              <hr>
              <p>Eum ne cibo porro nostrum. Eu nam vero dicta, erant assueverit est et. Et sint aeque delicata qui, has an tibique officiis, cu has dolore impedit. Stet semper nominavi nam at. Aperiam nostrum atomorum no pri. Eam ut nibh vivendo. Ne tota evertitur interpretaris cibo propriae scaevola vix te omnis habeo nonumes eseit...
                <p>
                  <div class="archive-link text-right">
                    <a class="btn btn-primary" href="bulletin-news-post.html" role="button">Read more »</a>
                  </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="post-thumb col-md-4">
              <img src="assets/img/posts/img-place.jpg" alt="">
            </div>
            <div class="col-md-8">
              <a href="#"><h3>Has omnis utamur an torquatos adipiscing</h3></a>
              <span>Posted By: <a href="#">Admin</a> on December 30, 2017</span>
              <hr>
              <p>Eum ne cibo porro nostrum. Eu nam vero dicta, erant assueverit est et. Et sint aeque delicata qui, has an tibique officiis, cu has dolore impedit. Stet semper nominavi nam at. Aperiam nostrum atomorum no pri. Eam ut nibh vivendo. Ne tota evertitur interpretaris cibo propriae scaevola vix te omnis habeo nonumes eseit...
                <p>
                  <div class="archive-link text-right">
                    <a class="btn btn-primary" href="#" role="button">Read more »</a>
                  </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="post-thumb col-md-4">
              <img src="assets/img/posts/img-place.jpg" alt="">
            </div>
            <div class="col-md-8">
              <a href="#"><h3>In vim dolor perpetua posidonium</h3></a>
              <span>Posted By: <a href="#">Admin</a> on January 12, 2018</span>
              <hr>
              <p>Eum ne cibo porro nostrum. Eu nam vero dicta, erant assueverit est et. Et sint aeque delicata qui, has an tibique officiis, cu has dolore impedit. Stet semper nominavi nam at...
                <p>
                  <div class="archive-link text-right">
                    <a class="btn btn-primary" href="#" role="button">Read more »</a>
                  </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="post-thumb col-md-4">
              <img src="assets/img/posts/img-place.jpg" alt="">
            </div>
            <div class="col-md-8">
              <a href="#"><h3>In vim dolor perpetua posidonium</h3></a>
              <span>Posted By: <a href="#">Admin</a> on January 12, 2018</span>
              <hr>
              <p>Eum ne cibo porro nostrum. Eu nam vero dicta, erant assueverit est et. Et sint aeque delicata qui, has an tibique officiis, cu has dolore impedit. Stet semper nominavi nam at...
                <p>
                  <div class="archive-link text-right">
                    <a class="btn btn-primary" href="#" role="button">Read more »</a>
                  </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="post-thumb col-md-4">
              <img src="assets/img/posts/img-place.jpg" alt="">
            </div>
            <div class="col-md-8">
              <a href="#"><h3>In vim dolor perpetua posidonium</h3></a>
              <span>Posted By: <a href="#">Admin</a> on January 12, 2018</span>
              <hr>
              <p>Eum ne cibo porro nostrum. Eu nam vero dicta, erant assueverit est et. Et sint aeque delicata qui, has an tibique officiis, cu has dolore impedit. Stet semper nominavi nam at...
                <p>
                  <div class="archive-link text-right">
                    <a class="btn btn-primary" href="#" role="button">Read more »</a>
                  </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="post-thumb col-md-4">
              <img src="assets/img/posts/img-place.jpg" alt="">
            </div>
            <div class="col-md-8">
              <a href="#"><h3>In vim dolor perpetua posidonium</h3></a>
              <span>Posted By: <a href="#">Admin</a> on January 12, 2018</span>
              <hr>
              <p>Eum ne cibo porro nostrum. Eu nam vero dicta, erant assueverit est et. Et sint aeque delicata qui, has an tibique officiis, cu has dolore impedit. Stet semper nominavi nam at...
                <p>
                  <div class="archive-link text-right">
                    <a class="btn btn-primary" href="#" role="button">Read more »</a>
                  </div>
            </div>
          </div>
          <hr>
        </div>
        <div class="col-lg-12 text-center">
          <nav aria-label="...">
            <ul class="pagination">
              <li class="disabled">
                <span>
        <span aria-hidden="true">&laquo;</span>
                </span>
              </li>
              <li class="active">
                <span>1 <span class="sr-only">(current)</span></span>
              </li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!--/ featured contents -->
    </div>
    <!--/ row -->
  </div>
  <!--/ container -->
</section>
{{/content}}

{{/extend}}
