{{#extend "layouts/base"}}

{{#content "main"}}
<section id="main-content">
  <div class="container">
    <div class="row contact-form">
      <div class="col-lg-12">
        <div class="info-title">
          <span class="bg-primary">We'd like to hear from you</span>
        </div>
      </div>
      <form>
        <div class="form-group col-md-6">
          <label for="Input1">Name</label>
          <input type="name" class="form-control" id="Input1" placeholder="name">
          <label for="Input2">Email Address</label>
          <input type="email" class="form-control" id="Input2" placeholder="name@samplemail.com">
        </div>
        <div class="form-group col-md-6">
          <label for="Textarea1">Message</label>
          <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
        </div>
        <div class="col-lg-12 text-right">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <hr>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <div class="info-title">
          <span class="bg-primary">Siena College Family</span>
        </div>
      </div>
      <!-- map column -->
      <div class="col-xs-12 col-md-4">
        <div class="location-frame">
          <div class="map-info">
            <span>Siena College of Quezon City</span>
          </div>
          <a href="https://www.google.com/maps/place/Siena+College+of+Quezon+City+Del+Monte+Avenue,+Quezon+City+1105+Philippines/" target="_blank"><img src="https://maps.googleapis.com/maps/api/staticmap?autoscale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CSiena+College+of+Quezon+City+Del+Monte+Avenue,+Quezon+City+1105+Philippines" alt="Google Map of Siena College of Quezon City Del Monte Avenue, Quezon City 1105 Philippines"></a>
          <div class="contact-info">
            <div class="contact-detail">
              <div class="contact-icon">
                <span class="loc-icon icon-top-pos"></span>
              </div>
              <div class="contact-text">
                <p>Del Monte Avenue, Quezon City 1105 Philippines.</p>
              </div>
            </div>
            <div class="contact-detail">
              <div class="contact-icon">
                <span class="phone-icon icon-top-pos"></span>
              </div>
              <div class="contact-text">
                <p><a href="tel:(02) 414-11-55">(02) 414-11-55</a></p>
              </div>
            </div>
            <div class="contact-detail">
              <div class="contact-icon">
                <span class="mail-icon icon-top-pos"></span>
              </div>
              <div class="contact-text">
                <p><a href="mailto:info@scqc.edu.ph">info@scqc.edu.ph</a></p>
              </div>
            </div>
            <!--  <div class="action-social">
                <a href="https://www.facebook.com/sienans" target="_blank"><span class="facebook-icon"></span>  </a>
                <a href="https://twitter.com/iamsienan" target="_blank"><span class="twitter-icon"></span>  </a>
              </div> -->
          </div>
        </div>
      </div>
      <!-- //map column -->
      <!-- map column -->
      <div class="col-xs-12 col-md-4">
        <div class="location-frame">
          <div class="map-info">
            <span>Siena College of Quezon City</span>
          </div>
          <a href="https://www.google.com/maps/place/Siena+College+of+Quezon+City+Del+Monte+Avenue,+Quezon+City+1105+Philippines/" target="_blank"><img src="https://maps.googleapis.com/maps/api/staticmap?autoscale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CSiena+College+of+Quezon+City+Del+Monte+Avenue,+Quezon+City+1105+Philippines" alt="Google Map of Siena College of Quezon City Del Monte Avenue, Quezon City 1105 Philippines"></a>
          <div class="contact-info">
            <div class="contact-detail">
              <div class="contact-icon">
                <span class="loc-icon icon-top-pos"></span>
              </div>
              <div class="contact-text">
                <p>Del Monte Avenue, Quezon City 1105 Philippines.</p>
              </div>
            </div>
            <div class="contact-detail">
              <div class="contact-icon">
                <span class="phone-icon icon-top-pos"></span>
              </div>
              <div class="contact-text">
                <p><a href="tel:(02) 414-11-55">(02) 414-11-55</a></p>
              </div>
            </div>
            <div class="contact-detail">
              <div class="contact-icon">
                <span class="mail-icon icon-top-pos"></span>
              </div>
              <div class="contact-text">
                <p><a href="mailto:info@scqc.edu.ph">info@scqc.edu.ph</a></p>
              </div>
            </div>
            <!--  <div class="action-social">
                <a href="https://www.facebook.com/sienans" target="_blank"><span class="facebook-icon"></span>  </a>
                <a href="https://twitter.com/iamsienan" target="_blank"><span class="twitter-icon"></span>  </a>
              </div> -->
          </div>
        </div>
      </div>
      <!-- //map column -->
      <!-- map column -->
      <div class="col-xs-12 col-md-4">
        <div class="location-frame">
          <div class="map-info">
            <span>Siena College of Quezon City</span>
          </div>
          <a href="https://www.google.com/maps/place/Siena+College+of+Quezon+City+Del+Monte+Avenue,+Quezon+City+1105+Philippines/" target="_blank"><img src="https://maps.googleapis.com/maps/api/staticmap?autoscale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7CSiena+College+of+Quezon+City+Del+Monte+Avenue,+Quezon+City+1105+Philippines" alt="Google Map of Siena College of Quezon City Del Monte Avenue, Quezon City 1105 Philippines"></a>
          <div class="contact-info">
            <div class="contact-detail">
              <div class="contact-icon">
                <span class="loc-icon icon-top-pos"></span>
              </div>
              <div class="contact-text">
                <p>Del Monte Avenue, Quezon City 1105 Philippines.</p>
              </div>
            </div>
            <div class="contact-detail">
              <div class="contact-icon">
                <span class="phone-icon icon-top-pos"></span>
              </div>
              <div class="contact-text">
                <p><a href="tel:(02) 414-11-55">(02) 414-11-55</a></p>
              </div>
            </div>
            <div class="contact-detail">
              <div class="contact-icon">
                <span class="mail-icon icon-top-pos"></span>
              </div>
              <div class="contact-text">
                <p><a href="mailto:info@scqc.edu.ph">info@scqc.edu.ph</a></p>
              </div>
            </div>
            <!--  <div class="action-social">
                <a href="https://www.facebook.com/sienans" target="_blank"><span class="facebook-icon"></span>  </a>
                <a href="https://twitter.com/iamsienan" target="_blank"><span class="twitter-icon"></span>  </a>
              </div> -->
          </div>
        </div>
      </div>
      <!-- //map column -->
    </div>
    <!--/ row -->
  </div>
  <!--/ container -->
</section>
{{/content}}

{{/extend}}
