{{#extend "layouts/base"}}

{{#content "main"}}
<section id="main-content">
  <div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
     
      <!-- featured contents -->
      <div class="col-xs-12 col-sm-9">
        <div class="info-title">
          <span class="red-bg">Page Info</span>
        </div>
      </div>
      <!--/ featured contents -->

      <!-- quick access nav -->
      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="list-group quick-access-internal">
          <a href="#" class="list-group-item">Antipolo Help Ads <br>Siena College of Taytay</a>
          <a href="#" class="list-group-item">Check Mail</a>
          <a href="#" class="list-group-item">e-Learning</a>
          <a href="#" class="list-group-item">INSCRIBE</a>
          <a href="#" class="list-group-item">Online Public Access Catalog</a>
          <a href="#" class="list-group-item">St. Jaques Training Hotel <br>Facebook Page</a>
        </div>
      </div>
      <p class="pull-left visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Quick Links</button>
      </p>
      <!--/ quick access nav -->

    </div>
    <!--/ row-offcanvas -->
  </div>
  <!--/ container -->
</section>
{{/content}}

{{/extend}}
