{{#extend "layouts/base"}}

{{#content "main"}}
<section id="main-content">
  <div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
      <!-- quick access nav -->
      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="wrap-quick-access">
          <div class="list-group quick-access">
            <p class="list-label">For Students</p>
            <a href="#" class="list-group-item">Student Services</a>
            <a href="#" class="list-group-item">Clubs &amp; Organization</a>
            <a href="#" class="list-group-item">Online Library</a>
            <a href="#" class="list-group-item">Portal</a>
          </div>
          <div class="list-group quick-access">
            <p class="list-label">For Faculty</p>
            <a href="#" class="list-group-item">Organizational Structure</a>
            <a href="#" class="list-group-item">Portal</a>
          </div>
          <div class="list-group quick-access">
            <p class="list-label">Alumni</p>
            <a href="#" class="list-group-item">Members Hall</a>
            <a href="#" class="list-group-item">Registration</a>
          </div>
        </div>
      </div>
      <!--/ quick access nav -->
      <!-- featured contents -->
      <div class="col-xs-12 col-sm-9">
        <p class="pull-left visible-xs">
          <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Quick Links</button>
        </p>
        <!-- hero slider -->
        <div class="slider">
          <img src="assets/img/slider-1.jpg">
        </div>
        <!--/ hero slider -->
        <div class="info-title">
          <span class="red-bg">Latest</span>
        </div>
        <!-- featured banner -->
        <div class="col-xs-12 featured">
          <a href="#"><img src="assets/img/posts/img-1.jpg"></a>
          <div class="caption">
            <hr class="yellow-line">
            <h2>Be A Part of Our Team!</h2>
            <p>Human Resource Management &amp; Development Siena College of Taytay is now accepting applicants for the following openings for SY 2017-2018...<a href="#"> Read more »</a></p>
          </div>
        </div>
        <!--/ featured banner -->
        <div class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-md-6 info">
                <div class="zoom-bg">
                  <a href="#" title="Go to this latest post">
             <img src="assets/img/posts/img-2.jpg">
            <div class="caption">
              <h3>27th Family Rosary Crusade</h3>
            </div>
            </a>
                </div>
                <div class="category-link">
                  <a href="#" title="View all Announcements"><span>See all latest Announcements »</span></a>
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6 info">
                <div class="zoom-bg">
                  <a href="bulletin-news-posts.html" title="Go to this latest post">
            <img src="assets/img/posts/img-3.jpg">
            <div class="caption">
             <h3>Siena College Of Taytay Is Now Accepting Applicants</h3>
            </div>
            </a>
                </div>
                  <div class="category-link">
                  <a href="bulletin-news.html" title="View all News"><span>See all latest News »</span></a>
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6 info">
                <div class="zoom-bg">
                  <a href="#" title="Go to this latest post">
            <img src="assets/img/posts/img-4.jpg">
            <div class="caption">
              <h3>Siena Proudly Supports MikroTik Seminars</h3>
            </div>
            </a>
                </div>
                  <div class="category-link">
                  <a href="#" title="View all Events"><span>See all latest Events »</span></a>
                </div>
              </div>
              <!--/span-->
              <div class="col-md-6 info">
                <div class="zoom-bg">
                  <a href="#" title="Go to this latest post">
            <img src="assets/img/posts/img-5.jpg">
            <div class="caption">
              <h3>Siena Launches New Modules for Web Technology</h3>
            </div>
            </a>
                </div>
                  <div class="category-link">
                  <a href="#" title="View all Research"><span>See all latest Research »</span></a>
                </div>
              </div>
              <!--/span-->
              <div class="col-xs-12 read-more">
                <p><a class="btn btn-primary" href="bulletin.html" role="button">See All &raquo;</a></p>
              </div>
              <!--/span-->
            </div>
          </div>
        </div>
      </div>
      <!--/ featured contents -->
    </div>
    <!--/ row-offcanvas -->
  </div>
  <!--/ container -->
</section>
<section id="about-summary">
  <div class="container">
    <h3 class="head-title">About</h3>
    <hr class="rule">
    <div class="row">
      <div class="col-md-3">
        <div class="profile">
          <img src="assets/img/mother.jpg" alt="">
        </div>
      </div>
      <div class="col-md-9">
        <blockquote>
          <p>Dear Fellow Marian Devotees,</p>
          <p>
            Greetings of great joy as we celebrate FRC @ 25 here at Siena College of Taytay! This is a profound thanksgiving to our loving God for the Great Gift of His Mother and our Mother, too, from our school community for the past 25 years–and still going strong! We also thank God for the Gift of the Blessed Mother who leads us ever closer to her Son, Jesus.
          </p>
          <footer>&mdash; M. Teresa E. Examen, OP President
          </footer>
        </blockquote>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1 sec-vision">
        <h4>Vision</h4>
        <p>We the members of Siena College Taytay, Taytay, Rizal, a catholic educational institution of the Dominican Sisters of St. Catherine of Siena – Philippines, are deeply committed in the formation of a Christ-centered integrated person and in the evangelizing mission of Church. Inspired by the Dominican Passion for Truth and Compassion for Humanity and the Missionary Spirit of Mother Francisca del Espiritu Santo de Fuentes, we envision a transformed society built on love, justice, peace and integrity of creation.</p>
      </div>
      <div class="col-md-5 sec-mission">
        <h4>Mission</h4>
        <p>Hence, we commit to become a Center of Excellence, espousing family values and life-oriented education through dynamic management, empowered personnel, relevant, and innovative curricula towards the formation of compassionate and globally competent Christians, who are environmentally and socially concerned, technology enabled, research motivated and Marian inspired.</p>
      </div>
    </div>
    <h2 class="lead-text"><a href="#">Discover Siena's colorful history</a></h2>
    <p>&nbsp;</p>
  </div>
</section>
{{/content}}

{{/extend}}
